# Dependabot will run on day 20 of each month at 01:40 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "40 1 20 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ronny130286"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "40 1 20 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ronny130286"
